# React Native
node_modules/
npm-debug.log
yarn-error.log
*.swp
*.swo

# Bundler
*.jsbundle

# macOS
.DS_Store

# Android
.android/
build/
*.keystore

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserdata

# Expo
.expo/
.expo-shared/

# Log files
*.log

# Misc
.env
*.iml

# IDEs
.vscode/
.idea/
